<!-- templates/search_events.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Events</title>
</head>
<body>
    <h1>Search Events</h1>
    <form method="get" action="/event">
        <label for="city">Search by City:</label>
        <input type="text" id="city" name="city"><br><br>

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br><br>

        <button type="submit">Search</button>
    </form>
<button onclick="window.location.href='/'">Back</button>
</body>
</html>
